---
title: Детский сад "Джерело Kids"
---
extends layouts/_layout
block content
	.page
		+sidebar('', 'active')
		.page__wrapper
			+header
			+pageCatalogTabs('','', '', 'active')
			.page__slider.page-catalog
				.tab-catalog-gallery
					h3.block-title.block-title--catalog-section
						| Фото &amp; Видео галерея
					.gallery-catalog-list.lightgallery
						.gallery-catalog-list__item.cur-p(data-src="https://picsum.photos/1200/800")
							.gallery-catalog-list__item-holder
								img.gallery-catalog-list__item-img.img-cover(src="https://picsum.photos/250/200")
						.gallery-catalog-list__item.cur-p(data-src="https://picsum.photos/1200/800")
							.gallery-catalog-list__item-holder
								img.gallery-catalog-list__item-img.img-cover(src="https://picsum.photos/250/200")
						.gallery-catalog-list__item.cur-p(data-src="https://picsum.photos/1200/800")
							.gallery-catalog-list__item-holder
								img.gallery-catalog-list__item-img.img-cover(src="https://picsum.photos/250/200")
						.gallery-catalog-list__item.cur-p(data-src="https://picsum.photos/1200/800")
							.gallery-catalog-list__item-holder
								img.gallery-catalog-list__item-img.img-cover(src="https://picsum.photos/250/200")
						.gallery-catalog-list__item.cur-p(data-src="https://picsum.photos/1200/800")
							.gallery-catalog-list__item-holder
								img.gallery-catalog-list__item-img.img-cover(src="https://picsum.photos/250/200")
						.gallery-catalog-list__item.cur-p(data-src="https://picsum.photos/1200/800")
							.gallery-catalog-list__item-holder
								img.gallery-catalog-list__item-img.img-cover(src="https://picsum.photos/250/200")
						.gallery-catalog-list__item.cur-p(data-src="https://picsum.photos/1200/800")
							.gallery-catalog-list__item-holder
								img.gallery-catalog-list__item-img.img-cover(src="https://picsum.photos/250/200")
						.gallery-catalog-list__item.cur-p(data-src="https://picsum.photos/1200/800")
							.gallery-catalog-list__item-holder
								img.gallery-catalog-list__item-img.img-cover(src="https://picsum.photos/250/200")
						.gallery-catalog-list__item.cur-p(data-src="https://picsum.photos/1200/800")
							.gallery-catalog-list__item-holder
								img.gallery-catalog-list__item-img.img-cover(src="https://picsum.photos/250/200")
						.gallery-catalog-list__item.cur-p(data-src="https://picsum.photos/1200/800")
							.gallery-catalog-list__item-holder
								img.gallery-catalog-list__item-img.img-cover(src="https://picsum.photos/250/200")
						.gallery-catalog-list__item.cur-p(data-src="https://picsum.photos/1200/800")
							.gallery-catalog-list__item-holder
								img.gallery-catalog-list__item-img.img-cover(src="https://picsum.photos/250/200")