---
title: Index Page
---
extends layouts/_layout
block content
	ul(style="padding: 120px 30px;")
		li(style="margin-bottom: 20px;")
			a(href="index.html") new-feed
		li(style="margin-bottom: 20px;")
			a(href="trending.html") trending
		li(style="margin-bottom: 20px;")
			a(href="following.html") following
		li(style="margin-bottom: 20px;")
			a(href="your-videos.html") your-videos
		li(style="margin-bottom: 20px;")
			a(href="upload-videos.html") upload-videos
		li(style="margin-bottom: 20px;")
			a(href="playlist.html") playlist
		li(style="margin-bottom: 20px;")
			a(href="chat.html") chat
		li(style="margin-bottom: 20px;")
			a(href="channel-profile.html") channel-profile
		li(style="margin-bottom: 20px;")
			a(href="browse.html") browse
		li(style="margin-bottom: 20px;")
			a(href="video-live.html") video-live
		li(style="margin-bottom: 20px;")
			a(href="video-normal.html") video-normal
		li(style="margin-bottom: 20px;")
			a(href="sign-in.html") sign-in
		li(style="margin-bottom: 20px;")
			a(href="sign-up.html") sign-up
		li(style="margin-bottom: 20px;")
			a.js-popup-open(href="#popup-stories") stories
		li(style="margin-bottom: 20px;")
			a(href="channel-analytics.html") channel-analytics
	.popup.popup_stories.mfp-hide#popup-stories
		.stories
			.stories__container
				.stories__slider.js-slider-stories
					mixin slide
						.stories__slide
							.stories__item(style="background-image: url('img/stories-pic.png');")
								.stories__progress
									.stories__line.active
									.stories__line
								a.stories__user(href="#")
									.stories__ava
										img.stories__pic(src="img/ava-1.png" alt="")
									.stories__desc
										.stories__man.confirm Tran Mau Tri Tam 
										.stories__game Call of Duty
										.status.orange 2.8K viewers
								form.stories__form
									input.stories__input(type="text" placeholder="Send a message…")
									button.stories__btn.btn.btn_purple Send
									button.stories__smile
										+i('editor-smile')
					+slide
					+slide
					+slide
					+slide
					+slide
					+slide
					+slide
					+slide
					+slide
					+slide

