
<!-- Нестандартна фігура для аватарки -->
<svg class="null-svg-elements" width="80" height="80" viewBox="0 0 80 80"><defs><mask id="avatar"><g><path d="M80,40c0.3,26.9-13.1,40.3-40,40C13.1,80.3-0.3,66.9,0,40C-0.3,13.1,13.1-0.3,40,0C66.9-0.3,80.3,13.1,80,40z" fill="#eeeeee"/></g></mask></defs></svg>


// scripts
script(src='lib/jquery.min.js')
script(src='lib/svg4everybody.min.js')
script(src='lib/jquery.nice-select.min.js')
script(src='lib/jquery.magnific-popup.min.js')
script(src='lib/slick.min.js')
script(src='lib/autosize.min.js')
script(src='lib/lightGallery/js/lightgallery.min.js')
script(src='lib/rating/jquery.barrating.min.js')
script(src='lib/dropzone/aksFileUpload.js')
script(src='lib/jquery.collapse.js')
script(src='lib/list.min.js')
script(src='js/app.js')